name: Release Docker Image with new Tag

on:  
  push:
    tags:
      - '*'

jobs:
  release-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GIT_TOKEN }}
      
      - name: Get Current Tag
        id: tag
        uses: "WyriHaximus/github-action-get-previous-tag@master"
      
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: | 
            miguelndecarvalho/speedtest-exporter:latest
            miguelndecarvalho/speedtest-exporter:${{ steps.tag.outputs.tag }}
            ghcr.io/miguelndecarvalho/speedtest-exporter:latest
            ghcr.io/miguelndecarvalho/speedtest-exporter:${{ steps.tag.outputs.tag }}